/* Navbar */
.navbar {
  position: relative;
  z-index: 2;
}

.navbar-brand {
  font-family: Viga;
  font-size: 32px;
}

/* Jumbotron */
.jumbotron {
  background-image: url(images/jumbotron-bg.jpg);
  background-size: cover;
  height: 540px;
  text-align: center;
  position: relative;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
}

.jumbotron .display-4 {
  color: white;
  padding-top: 200px;
  font-weight: 200;
  text-shadow: 5px 5px 5px rgb(3, 0, 0, 1);
  font-size: 45px;
  padding-bottom: 30px;
}

.jumbotron .display-4 span {
  font-weight: 500;
}

/* Info Panel */
.info-panel {
  position: absolute;
  margin-top: -65px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  background-color: white;
  padding: 30px;
}

.info-panel h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
}

.info-panel img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.info-panel p {
  font-size: 14px;
  color: #acacac;
  margin-top: 5px;
  font-weight: 200;
}

/* Working Space */
.working-space {
  margin: 30px;
  margin-top: 310px;
  text-align: center;
}

.working-space h3 {
  font-size: 52px;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 25px;
}

.working-space h3 span {
  font-weight: 500;
}

.working-space p {
  font-size: 25px;
  color: #acacac;
  font-weight: 200;
  margin: 30px 0;
}

/* Testimonial */
.testimonial {
  padding-top: 40px;
}

.testimonial h5 {
  text-align: center;
  font-weight: 200;
  font-style: italic;
  font-size: 24px;
}

.testimonial figure img {
  display: block;
  width: 60px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  opacity: 0.5;
}

.testimonial figure img.primary {
  width: 100px;
  opacity: 1;
  margin-top: 20px;
}

.testimonial figure h5 {
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  color: #1c2c5d;
}

.testimonial figure p {
  font-size: 18px;
  color: #acacac;
  margin-top: -5px;
}

.testimonial figcaption {
  text-align: center;
}

/* Footer */
.footer {
  margin-top: 50px;
}

.footer p {
  color: #acacac;
  font-weight: 200;
  font-size: 18px;
}

/* Utility */
.button-utility {
  text-transform: uppercase;
  border-radius: 40px;
}

/* Desktop CSS Version  */
/* Artinya semua CSS yang di dalam sini berfungsi hanya untuk DESKTOP VERSION */
@media (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: white !important;
    text-shadow: 5px 5px 5px rgb(3, 0, 0, 1);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid #0b63dc;
    width: 50%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .jumbotron {
    margin-top: -75px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 62px;
  }

  .working-space {
    margin-left: 100px;
    margin-top: 160px;
    text-align: left;
  }

  .working-space h3 {
    font-size: 52px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 25px;
    margin-right: 80px;
  }

  .testimonial h5 {
    font-size: 32px;
  }
}
/* End Desktop CSS Version */
